<div class="w-full flex justify-center items-center py-12">
  
  <div class="block dark:hidden">
    {% include "svg/animated-light.njk" %}
  </div>

  <div class="hidden dark:block">
    {% include "svg/animated-dark.njk" %}
  </div>
</div>