<div class="flex flex-row items-center justify-center gap-4">
  
  <div class="icon-svg block dark:hidden">
    {% include "svg/animated-light.njk" %}
  </div>
  <div class="icon-svg hidden dark:block">
    {% include "svg/animated-dark.njk" %}
  </div>

  <div class="text-4xl md:text-5xl font-bold tracking-tight">
    <span class="text-slate-900 dark:text-white">Finds</span><span class="text-orange-500">Radar</span>
  </div>
</div>